body{
    background-color: whitesmoke;
}

header{
    background-color:antiquewhite;
    font-size: 50px;
    padding-top: 5px;
    size: 40px;
    text-align: center;
}
h1{
    font-size: 50px;
}
table, th, td{
    border: 2px solid black;
    margin: 8px;
    padding: 12px;
    font-size: 20px;
    border-collapse: collapse;
}
button{
    font-size: 20px;
    border: 1px solid black;
    border-radius: 8px;
    color:white;
    background-color:black;
    margin: 12px;
    padding:10px;
    text-align:right;
}

button:hover{
    background-color: rgb(228, 27, 27);
}
.logout{
    text-align:right;
}

footer{
    text-align: right;
}
