/* 全体設定 */
body{
    margin:0;
    background:#f4f6f8;
    font-family:Arial,sans-serif;
}


/* ===== フォーム全体 ===== */
.form-box{
    width:640px;
    margin:60px auto;
    padding:60px;

    background:white;
    border-radius:25px;

    box-shadow:0 8px 20px rgba(0,0,0,0.12);

    display:flex;
    flex-direction:column;
    align-items:center;
}


/* ===== 上部メニューバー ===== */
.top-bar{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:30px;
}


/* メニューボタン */
.menu-btn{
    font-size:30px;
    background:#f8f8f8;
    border:none;
    padding:12px 20px;
    border-radius:12px;
    cursor:pointer;

    box-shadow:0 3px 8px rgba(0,0,0,0.12);
    transition:0.3s;
}

.menu-btn:hover{
    background:#ececec;
    transform:scale(1.05);
}


/* ログアウトボタン */
.logout-btn{
    background:black;
    color:white;

    padding:12px 22px;
    border:none;
    border-radius:12px;
    cursor:pointer;

    box-shadow:0 3px 8px rgba(0,0,0,0.12);
    transition:0.3s;
}

.logout-btn:hover{
    background:#d11f1f;
    transform:scale(1.05);
}


/* タイトル */
h1{
    font-size:50px;
    color:#333;
    margin-top:10px;
    margin-bottom:50px;
    text-align:center;
    margin-bottom: 120px;
}



/* Yes / No 選択ボックス */
.radio-box{
    width:100%;
    padding:18px;

    border:3px solid #000;
    border-radius:10px;

    font-size:28px;
    text-align:center;

    margin-bottom:25px;
    cursor:pointer;

    transition:0.3s;
}

.radio-box:hover{
    border-color:#03cae4;
    background:#eefcff;
}


/* ラジオボタン */
.radio-box input{
    width:auto;
    margin-right:10px;
}


/* ===== メモ欄 ===== */
.memo{
    width:100%;
    min-height:20px;
    padding:25px;
    margin-top:30px;
    margin-bottom:30px;

    font-size:20px;
    line-height:1.8;

    border:none;
    border-radius:18px;

    background:
      repeating-linear-gradient(
        white,
        white 34px,
        #dfefff 35px
      );

    box-shadow:
      inset 0 2px 8px rgba(0,0,0,0.05),
      0 6px 15px rgba(0,0,0,0.08);

    overflow-y:auto;
    resize:vertical;

    transition:0.3s;
}


/* メモ欄クリック時 */
.memo:focus{
    outline:none;

    box-shadow:
      0 0 15px rgba(3,202,228,.25);
}


/* 案内メッセージ */
.memo::placeholder{
    color:#888;
    font-style:italic;
}


/* 送信ボタン */
button[type="submit"]{
    width:100%;
    padding:18px;

    background:#4CAF50;
    color:white;

    font-size:28px;

    border:none;
    border-radius:8px;

    margin-top:20px;
    cursor:pointer;

    transition:0.3s;
}

button[type="submit"]:hover{
    background:#8fd693;
}