/* 全体の基本設定 */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;

  /* 画面中央に配置（重要） */
  display: flex;
  /* justify-content: center;
  align-items: center; */
  min-height: 100vh;
}

/* タイトル */
h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
}

/* フォームボックス（PC） */
form {
  width: 640px;
  padding: 60px;
  background: white;
  border-radius: 20px;
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); */
}

/* ラベル */
label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 18px;
}

/* 入力欄 */
input {
  width: 100%;
  padding: 14px;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 18px;
  box-sizing: border-box;
}

/* フォーカス */
input:focus {
  border-color: #03cae4;
  outline: none;
}

/* ボタン */
button {
  width: 100%;
  padding: 14px;
  margin-top: 30px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ホバー */
button:hover {
  background-color: #a2daa4;
}

/* ===================== */
/* 📱 モバイル対応 */
/* ===================== */
@media (max-width: 576px){

  /* フォーム（スマホ） */
  form {
    width: 90%;
    padding: 20px;
    border-radius: 12px;
  }

  /* タイトル */
  h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  /* ラベル */
  label {
    font-size: 14px;
  }

  /* 入力欄 */
  input {
    font-size: 16px;
    padding: 10px;
  }

  /* ボタン */
  button {
    font-size: 16px;
    padding: 12px;
  }
}