/* 全体の基本設定 */
body{
    font-size: 14px;
    background-color: whitesmoke;
    width: 800px;
    margin: 100px auto;
    padding: 120px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    position: relative;
}
/* タイトル */
header{
    text-align: center;
    padding-bottom: 30px;
}


/* 　表全体　*/
.container{
    display: flex;
    flex-wrap: wrap;
}

.head{
    background-color: rgb(147, 203, 62);
}
/*タイトル*/
h1{
    font-size: 50px;
    padding-top: 0px;
}
/*　表の目次　*/
table, th{
    border: 2px solid black;
    margin: 8px;
    padding: 20px;
    font-size: 18px;
    border-collapse: collapse;
}
/*表内容*/
td{
    border: 1px solid black;
    margin: 8px;
    padding: 20px;
    font-size: 16px;
    border-collapse: collapse;
}

/* ログアウトボタン */
.logout-btn{
    background:black;
    color:white;
    align-items: end;
    padding:12px 22px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    top: 100px;
    right: 150px;
    position: absolute;
    box-shadow:0 3px 8px rgba(0,0,0,0.12);
    transition:0.3s;
}

.logout-btn:hover{
    background:#d11f1f;
    transform:scale(1.05);
}

 
